<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>Transit Ridership During COVID-19</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

  <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-base.min.js" type="text/javascript"></script>
  <script src="https://cdn.anychart.com/releases/8.9.0/js/anychart-map.min.js" type="text/javascript"></script>
  <script src="https://cdn.anychart.com/geodata/2.1.0/countries/united_states_of_america/united_states_of_america.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.15/proj4.js" data-export="true"></script>
  <script src="https://cdn.anychart.com/geodata/2.1.0/countries/australia/australia.js"></script>

  <style>
    .sidebar {
      position: fixed;
      width: 300px;
      top: 56px;
      bottom: 0;
      left: 0;
      z-index: 100; /* Behind the navbar */
      padding: 0px 0 0; /* Height of navbar */
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    }
    #exportBtn {
      position: fixed;
      top: 92%;
      left: 150px;
    }

    #map {   
      position: fixed;       
      width: 90%;
      height: 90%;
      top: 56px;
      left: 200px;
      right: 100px; 
      bottom: 100px;
      margin: 0;
      padding: 0;
    }

    #metroExplore {
      position: fixed;
      left: 350px;
      bottom: 30px;
    }
  </style>

</head>
<body>
 
  <!-- navbar -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark stick-top shadow">
    <a class="navbar-brand ml-4" href="#">Transit Ridership During COVID-19</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navs" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse mr-1" id="navs">
      <ul class="navbar-nav ml-auto mr-5">
        <li class="nav-item dropdown my-2 my-md-0">
          <a class="nav-link dropdown-toggle" href="#" id="navDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Data Sources
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navDropdown">
            <a class="dropdown-item" href="https://www.transit.dot.gov/ntd/data-product/monthly-module-adjusted-data-release">National Transit Database</a>
            <a class="dropdown-item" href="https://www.census.gov/data/developers/data-sets/acs-1year.html">ACS 1-year Estimates (2019)</a>
            <a class="dropdown-item" href="https://github.com/CSSEGISandData/COVID-19">COVID-19 Data Repo</a>
          </div>
        </li>        
      </ul>
    </div>
  </nav>

  <!-- Sidebar -->
  <div class="container-fluid">
    <nav id="sidebarMenu" class="d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column px-4">
          <li class="nav-item py-1 my-1">              
            <h6>Month</h6>
            <select id= "month-select" class="selectpicker"  multiple data-live-search="true">
            </select>              
          </li>
          <li class="nav-item py-1 my-1">              
            <h6>Mode(s)</h6>
            <select id="mode-select" class="selectpicker" multiple  data-live-search="true">
              <option>Bus</option>
              <option>Trolleybus</option>
              <option>Commuter Bus</option>
              <option>Bus Rapid Transit</option>
              <option>Commuter Rail</option>
              <option>Light Rail</option>
              <option>Heavy Rail</option>
              <option>Hybrid Rail</option>
              <option>Inclined Plane</option>
              <option>Monorail/Automated</option>
              <option>Streetcar</option>
              <option>Cable Car</option>
              <option>Publico</option>
              <option>Demand Response</option>
              <option>Vanpool</option>
              <option>Ferryboat</option>
              <option>Aerial Tramway</option>
            </select>              
          </li>
          <li class="nav-item py-1 my-1">              
            <h6 class="my-3">Add an Overlay</h6>
            <div class="ml-2">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="COVIDCases" id="COVIDCases" value="COVIDCases" checked>
                <label class="form-check-label" for="COVIDCases">
                  COVID Cases
                </label>
              </div>
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" name="COVIDDeaths" id="COVIDDeaths" value="COVIDDeaths">
                <label class="form-check-label" for="COVIDDeaths">
                  COVID Deaths
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="popDensity" id="popDensity" value="popDensity">
                <label class="form-check-label" for="popDensity">
                  Population Density
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="HHIncome" id="HHIncome" value="HHIncome">
                <label class="form-check-label" for="HHIncome">
                  Household Income
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="mode" id="mode" value="mode">
                <label class="form-check-label" for="mode">
                  % Public Transit Primary Mode to Work
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="renters" id="renters" value="renters">
                <label class="form-check-label" for="renters">
                  % Renters
                </label>
              </div>      
            </div>
                  
          </li>

        </ul>
        
        <div id="exportBtn" class="d-flex justify-content-end align-items-end mr-5 mb-1">
          <button class="btn btn-link-secondary  btn-sm">Export Data <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
            <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
          </svg></button>
        </div>                
      </div>
    </nav>

    <!-- Map -->
    <div id="map"></div>

    <!-- Select metro area -->
    <div id="metroExplore">
      <h6>Explore Metro Area Detail:</h6>
      <select class="selectpicker" id= "area-select" data-live-search="true" data-width="500px">
      </select> 
      <button id="exploreBtn" class="btn btn-dark">Export Data ></button> 
    </div>



    <!-- <div id="map" class="col-auto">
      <div id="map" class="mapboxgl-map">
        <div class="mapboxgl-canary" style="visibility: hidden;"></div>
        <div class="mapboxgl-canvas-container mapboxgl-interactive mapboxgl-touch-drag-pan mapboxgl-touch-zoom-rotate">
          <canvas class="mapboxgl-canvas" tabindex="0" aria-label="Map" width="1290" height="916" style="position: absolute; width: 1126px; height: 800px;"></canvas>
        </div>
        <div class="mapboxgl-control-container">
          <div class="mapboxgl-ctrl-top-left"></div>
          <div class="mapboxgl-ctrl-top-right"></div>
          <div class="mapboxgl-ctrl-bottom-left">
            <div class="mapboxgl-ctrl" style="display: block;">
              <a class="mapboxgl-ctrl-logo" target="_blank" rel="noopener nofollow" href="https://www.mapbox.com/" aria-label="Mapbox logo"></a>
            </div>
          </div>
          <div class="mapboxgl-ctrl-bottom-right">
            <div class="mapboxgl-ctrl mapboxgl-ctrl-attrib">
              <div class="mapboxgl-ctrl-attrib-inner">
                <a href="https://www.mapbox.com/about/maps/" target="_blank">© Mapbox</a> 
                <a href="http://www.openstreetmap.org/about/" target="_blank">© OpenStreetMap</a> 
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="mapInfo">USA <span></span> <br> Transit Ridership <br> <span></span></div>
    </div> -->
  </div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<script>
  // If there is no default option, select first one.
  function setDefaultOpt(select, defaultOpt){
    if (defaultOpt == null) defaultOpt = select[0].firstElementChild.innerText;
    console.log(select[0].firstElementChild.innerText);
    select.selectpicker('val', defaultOpt);    
  }
  
  // Populate options from list.
  function populateOptions(select, optionList, defaultOpt) {
    for(var optionText in optionList){
      select.append('<option value="'+optionText+'">'+optionText+'</option>');;      
    }  
    select.selectpicker("refresh"); 
    setDefaultOpt(select, defaultOpt);
  }

  $( document ).ready(function() {
    // Populate month options. 
    // var monthList = {{ month_list }};    
    // var selectedMonth = {{ selected_month }}; 
    var monthList = ['01', '02', '03']; // test
    var selectedMonth = null; // test
    populateOptions($('#month-select'), monthList);

    // Populate metro area options   
    // var areaList = {{ metro_area_list }};
    // var selectedArea = {{ selected_area }};
    var areaList = ['01', '02', '03']; // test
    var selectedArea = null; // test
    populateOptions($('#area-select'), areaList);
    
    // Set default modes
    // var selectedModes = {{ selected_modes }};
    var selectedModes = null; // test
    setDefaultOpt($('#mode-select'), selectedModes);

    // Overlay check boxs group
    $('input[type="checkbox"]').on('change', function() {
      $('input[type="checkbox"]').not(this).prop('checked', false);
      if (this.is(":checked")) {
        var overlaySelect = this.nextElementSibling();
      }     
    });
  }); 
    
  // Map
  anychart.onDocumentReady(function () {

    // This sample uses 3rd party proj4 component
    // that makes it possible to set coordinates
    // for the points and labels on the map and
    // required for custom projections and grid labels formatting.
    // See https://docs.anychart.com/Maps/Map_Projections

    // create data set
    var data = [
    {'id': 'Sydney', 'size': 106, "lat":  -33.51, "lon": 151.11},
    {'id': 'Cape York', 'size': 93, "lat":  -10.41, "lon": 142.22},
    {'id': 'Cape South-Point', 'size': 109, "lat":  -39.08, "lon": 142.22},
    {'id': 'Cape Byron', 'size': 108, "lat":  -28.36, "lon": 153.38},
    {'id': 'Steep-Point Cape', 'size': 95, "lat":  -26.09, "lon": 113.09},
    {"id": 'Alice Springs', 'size': 100, "lat": -23.69, "long": 133.87},
    {"id": 'Adelaide', 'size': 99, "lat": -34.98, "long": 138.42}
    ];  // test

    // create map chart
    var map = anychart.map();

    // set geodata using https://cdn.anychart.com/geodata/2.1.0/countries/australia/australia.js
    map.geoData(anychart.maps.australia);

    //create bubble series
    var series = map.bubble(data);

    //set series geo id field settings
    series.labels().format("{%id}");

    series.tooltip().format("{%size} trips");

    series.tooltip().titleFormat("{%id}");

    map.title("National Transit Ridership");

    // change the bubble max size
    map.maxBubbleSize(30);
    map.minBubbleSize(2);

    // set container id for the chart
    map.container('map');
    // initiate chart drawing
    map.draw();
    // activate zoomOnMouseWheel
    map.interactivity().zoomOnMouseWheel(true);
    // listen to the click
    map.title().listen("click", function () {
      // Zoom map in 2 times.
      map.zoom(10);
    });
  });

 
</script>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>